body{
    background-color:darkslategray;
    font: 20px/1.5 "Arial", sans-serif;
    color:khaki
}

header{
    text-align: center;
    font: 30px/1.5 "Arial", sans-serif;
}

main{
    text-align: center;
}

footer{
    text-align: center;
    font: 15px/1.5 "Arial", sans-serif;
}